<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>CAO Shan</string>
	<key>Builder Version</key>
	<string>9537.85.10.17.1</string>
	<key>CFBundleDisplayName</key>
	<string>GitHub Highlight Selected</string>
	<key>CFBundleIdentifier</key>
	<string>com.Nuclides.github-highlight-selected</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>src/highlight-selected.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>src/jquery-2.1.1.min.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>src/style.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>https://github.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Safari extension for highlighting selected word in GitHub source view like Sublime Text.</string>
	<key>DeveloperIdentifier</key>
	<string>7676B49VAW</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>github.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/Nuclides/github-highlight-selected/master/Update.plist</string>
	<key>Website</key>
	<string>https://github.com/Nuclides/github-highlight-selected</string>
</dict>
</plist>
